.tooltip {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    font-size: 12px;
}

.hero-body {
    text-align: center;
}

.tick line {
    stroke: #eee;
    stroke-dasharray: 5, 5;
}

.form {
    display: flex;
}

.domain {
    stroke: rgba(0, 0, 0, 0);
}

#symbols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box:not(:last-child) {
    margin-bottom: 10px;
}

.symbol {
    width: 30%;
    margin: 10px;
    position: relative;
}

.delete {
    position: absolute;
    right: 8px;
    top: 8px;
}

@media (max-width: 420px) {
    .symbol {
        width: 96%;
    }
}